/* body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image:url(
        https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_640.jpg
    )
    
} */
.top{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.li{
    float: left;
}
li a{
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
  }
picture{
    margin-left: 30px;
}
.p-text{
    color: aliceblue;
    background-image: url(
        https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg
    );
}
table,th,td{
    border: 3px solid rgb(5, 5, 5);
    
    border-radius: 10px;
    border-color: blue;
}
table{
    width: 100%;
    border-spacing: 20px;
}
th,td{
    background-color: aquamarine;
    padding: 10px;
}
tr{
    text-align: center;
}
table caption{
    font-size:20px;
    
}
tr:nth-child(even) {
    background-color: rgb(176, 201, 201);
 }
ul{
    list-style-type:disc;
}
.div-element{
    background-color: olivedrab;
    font-size: larger;
    color: aliceblue;
    padding: 20px;
    width: 300px;
    margin: auto;
}
.span-element{
    color: black;
}
.town-container{
    overflow: auto;
    width: 100%;
}
.town-container div{
    width: 33%;
    /* float: left; */
    text-align: center;
    height: 176px;
    display: inline-block;
}
.h2-pizza{
    color: #333333;
    text-align: center;
}
.pizza-container{
    text-align: center;
    width: 100%;
    overflow: auto;
    display: flex;
}
.pizza-container div {
    border: 2px solid #333333;
    border-radius: 10px;

    width: 30%;
    text-align: center;
    /* display:inline-block; */
    margin: 5px;
    padding: 10px;
}
.pizza-container div img{
    width: 300px;
    height: 100px;
}


/* The second pizza container */
.pizza-container2{
    width: 100%;
    overflow: auto;
    display: flex;
}
.pizza-container2 div{
    border: 2px solid #333333;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin: 5px;
    padding: 10px;
    /* display: inline-block; */
}
.pizza-container2 div img{
    width: 300px;
    height: 100px;
}