/* body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image:url(
        https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_640.jpg
    )
    
} */
.top{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.li{
    float: left;
}
li a{
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
  }
picture{
    margin-left: 30px;
}
.p-text{
    color: aliceblue;
    background-image: url(
        https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg
    );
}
table,th,td{
    border: 3px solid rgb(5, 5, 5);
    
    border-radius: 10px;
    border-color: blue;
}
table{
    width: 100%;
    border-spacing: 20px;
}
th,td{
    background-color: aquamarine;
    padding: 10px;
}
tr{
    text-align: center;
}
table caption{
    font-size:20px;
    
}
tr:nth-child(even) {
    background-color: rgb(176, 201, 201);
 }
ul{
    list-style-type:disc;
}